<app-contact-form (addNewContact)="loadContacts()"></app-contact-form>
<table>
  <thead>
    <tr>
      <th class="first"></th>
      <th>{{fields.lastName}}</th>
      <th>{{fields.firstName}}</th>
      <th>{{fields.patronymic}}</th>
      <th>{{fields.phone}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts; let i = index">
    <!-- <tr *ngFor="let contact of (contacts | async)"> -->
    <!-- <tr *ngFor="let contact of (subscribe | async); let i = index"> -->
      <td scope="row">
        <button class="selectFavorite" type="submit" (click)="addToFavorites(contact)">
          <img src="../../assets/star2.png" *ngIf="!contact.favorite" alt="star">
          <img src="../../assets/star1.png" *ngIf="contact.favorite" alt="star">
        </button>
      </td>
      <td>{{contact?.firstName}} </td>
      <td>{{contact?.lastName}}</td>
      <td>{{contact?.patronymic}}</td>
      <td>{{contact?.phone}}</td>
      <td>
        <button class="deleteContact" type="reset" (click)="deleteContact(contact.id)">X</button>
      </td>
    </tr>
  </tbody>
</table>
