form {
  width: 100%;
}
.block {
  display: inline-block;
  margin: 15px 15px 15px 0;
}
input {
  height: 34px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}
label {
  font-weight: bold;
  display: block;
}
button {
  color: white;
  height: 30px;
  width: 30px;
  padding: 4px;
  background-color: rgb(60, 148, 60);
  border: 1px solid rgb(60, 148, 60);
  border-radius: 4px;
  font-weight: bold;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
  box-sizing: border-box;
}
/* input.ng-touched.ng-valid {
  border: solid green 2px;
} */
