  <form [formGroup]="contactForm" (ngSubmit)="addContact()">
  <div class='block'>
    <label>{{fields.lastName}}</label>
    <input type="text" class="form-control" formControlName="lastName">
  </div>
  <div class='block'>
    <label>{{fields.firstName}}</label>
    <input type="text" class="form-control" formControlName="firstName">
  </div>
  <div class='block'>
    <label>{{fields.patronymic}}</label>
    <input type="text" class="form-control" formControlName="patronymic">
  </div>
  <div class='block'>
    <label>{{fields.phone}}</label>
    <input type="text" class="form-control" formControlName="phone">
  </div>
  <button type="submit" (click)="addContact()">+</button>
</form>
